body{
	background: black;
	color: white;
	overflow-x: hidden;
	
}
  
  
.movie-app::-webkit-scrollbar {
	display: none;
}
  
  
.movie-app {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  flex-wrap: nowrap;
  overflow: scroll;
}

.image-container{
	position: relative;
	transition: transform 0.2s;
	transform: scale(.50);

	
}


.sizing{
	overflow: scroll;
}


.image-container:hover .overlay{
	opacity: 1;
}



.image-container:hover{
	cursor: pointer; 
	transform: scale(1.0);
}
  
.image-container:hover .overlay{
	opacity: 1;
}

.overlay{
	position: absolute;
	background: black;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0 ;
	bottom: 0;
	font-size: 28px;
	padding:20px;
	text-align: center;
}


@media screen and (max-width: 600px) {
	.image-container{
		position: relative;
		transition: transform 0.2s;
		transform: scale(.50) !important;
		
	}
}
	  
