body{
	background: black;
	color: white;
  }
  
  
  .movie-app::-webkit-scrollbar {
	display: none;
  }
  
  
  .movie-app {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
  overflow-x: scroll;
  flex-wrap: nowrap;
  }
  
  
  .image-container{
	position: absolute;
	transition: transform 0.2s;
	transform: scale(.50);
  }
  
  .image-container:hover{
   cursor: pointer; 
   transform: scale(1.1);
  }
  
  .image-container:hover .overlay{
	opacity: 1;
  }
  .overlay{
	position: absolute;
	background: black;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0 ;
	bottom: 0;
	font-size: 28px;
	padding:20px;
	text-align: center;
  
  }
  
  